.Weather {
    border-radius: 10px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
    display:block;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 70px;
    width: 500px;
}

#light .Weather {
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%); ;
    border: 2px solid aquamarine;
}

#light input[type=text], input[type=button], input[type=submit], input[type=reset]  {
    border: 2px solid aquamarine;
    background: rgb(252, 255, 254); 
}

#light .SocialsInfo {
    color: black;
}

#dark {
    background: #1C0C5B;
    color: aliceblue;
}

#dark .Weather{
    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
    border: 2px solid #d5def5;
}

#dark input[type=text], input[type=button], input[type=submit], input[type=reset]  {
        border: 2px solid #d5def5;
        outline: none; 
        background: rgb(252, 255, 254);
}

#dark .SocialsInfo {
    color: #d5def5;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-right: 45px;
}

.Date {
    padding-top: 10px;
}
.Date, .WeatherForecast-description {
    font-size: 14px;
    opacity: 0.6;
}

.Temperature {
    font-size: 20px;
}

h2 {
    padding-top: 20px;
}

.WeatherInfoList, .Temperature, .Date, .WeatherForecast {
    font-family: 'Source Code Pro', monospace;

}

.Weather canvas {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

input[type=text], input[type=button], input[type=submit], input[type=reset]  {
    outline: none; 
    border-radius: 5px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    font-family: 'Raleway', sans-serif;
}

input:focus::placeholder {
    color: transparent;
}

input::placeholder {
    transition: color 0.3s ease;
}

input[type=button], input[type=submit], input[type=reset] {
    opacity: 0.7;
}

.Temperature {
    font-size: 20px;
}

.Socials {
    position: relative;
    top: 100px;
}
.SocialsInfo {
    height: 10px;
    padding: 5px;
    width: 10px;
}

.WeatherForecast {
    margin:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.WeatherForecast-temp-min {
    margin-left: 4px;
    opacity: 0.6;
}

.switch {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.switch label{
    margin:10px
}
